*{
    font-family: 'Lato', sans-serif;
}
body{
    margin: 0;
    background-color: ghostwhite;
}
.switch{
    display:none;
}
.ui-content{
    background: -webkit-linear-gradient(top,#dedede,#fefefe);
    border-radius: 20px;
    display: inline-block;
    float: right;
    height: 46px;
    overflow: hidden;
    padding: 5px;
}
.ui-switch{
    background: #FFF;
    border: 1px #cfc8bc solid;
    border-radius: 15px;
    box-shadow: 0 1px 1px rgba(255, 255, 255, 1), 0 1px 1px rgba(0, 0, 0, .15) inset;
    display: inline-block;
    height: 40px;
    margin-bottom: 15px;
    padding: 2px;
    position: relative;
    width: 120px;
}
.switch:checked ~ label .ui-switch{
    background: -webkit-linear-gradient(top,#fa9100,#f44800);
}
.ui-switch-handle{
    background: -webkit-linear-gradient(top,#f7f5f2,#e3dfd6);
    border-radius: 20px;
    box-shadow: 0 1px 3px 1px rgba(0,0,0,.3), 0 1px 1px rgba(255,255,255,.8) inset;
    display: inline-block;
    height: 40px;
    position: absolute;
    width: 20px;
}
.switch:checked ~ label .ui-switch-handle{
    right: 2px;
}
.ui-switch-handle:before{
    margin-left: -5.5em;
    line-height: 22px;
    content: "Carte activé";
    color: #FFF;
}
.ui-switch-handle:after{
    position: relative;
    right: -2em;
    top: -20px;
    content: "Carte désactivé";
}
main{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
#listeResultat{
    display: flex;
    flex-wrap: wrap;
    width: 45%;
    height: 38em;
    border-radius: 10px 0 0 10px;
    overflow: auto;
    background-color: white;
    color: black;
    padding: 1em;
    margin: 1em;
    box-shadow: 1px 1px 1px 1px black;
}
#map{
    width: 49%;
    height: 40em;
    margin: 1em;
}
#zoneFiltre{
    background-color: white;
    border-bottom: 2px solid #33d9b2;
}
#tableFiltre{
    vertical-align: top;
}
#entete{
    background-color: #33d9b2;
    height: 2em;
    text-align: right;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    align-items: center;
}
#entete img{
    border-radius: 20px;
    height: 2em;
}
#boutonSwitch{
    position: absolute;
    top: 19em;
    right: 2em;
}
#TextMenuHaut{
    font-weight: bolder;
    color: white;
    margin: 0 1em 0 0;
}
article{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-bottom: 1px solid black;
    width: 100%;
}
.articleImg{
    background-size: cover;
    width: 10em;
    height: 10em;
    margin: 0.3em 0 0.3em 0;
    text-align: center;
}
.articleGauche{
    width: 60%;
}
iframe{
    width: 100%;
    height: 100%;
    box-shadow: 1px 1px 1px 1px black;
    border: 0;
}
#find{
    margin: 0 1em 0 0;
    width: 100%;
}
#recherche{

}

#menu{
    display: flex;
    justify-content: center;
    background-color: white;
}

#menu ul{
    margin:0;
    padding: 0;
    list-style-type:none;
    text-align:center;
}
#menu li{
    float: left;
    margin: auto;
    border-left: 2px solid #33d9b2;
}

#menu li:first-child{
    border-left: none;
}
#menu li:last-child{
    border-right: 2px solid White;
}
.pere li:last-child{
    border-radius: 0 0 12px 12px;
}

#menu li a{
    display:block;
    width:300px;
    color:#33d9b2;
    text-decoration:none;
    padding:5px;
    font-size: 20px;
}
#menu ul li ul{
    display:none;
}
#menu li a:hover{
    font-weight: bolder;
}
#menu li ul li a:hover{
    font-weight: bolder;
}
#menu ul li:hover ul{
    display:block;
}
#menu li:hover ul li{
    background-color: white;
    border-left: 2px solid #33d9b2;
    border-right: 2px solid #33d9b2;
    margin-left: -2px;
    float:none;
}
#cpVille{
    background-color: white;
    border-left: 2px solid #33d9b2;
    border-right: 2px solid #33d9b2;
    margin-left: -2px;
    float:none;

    border-bottom: 1px solid #33d9b2;
}
#menu li:hover ul li:last-child{
    border-bottom: 1px solid #33d9b2;
}
#menu li ul{
    position:absolute;
}

#menu li ul li a{
    color:#33d9b2;
}